<!DOCTYPE html>
<html  lang="es"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <footer th:fragment="pie">
        <div>
            <a class="link-secondary" href="#">Resource name</a>
            <a class="link-secondary" href="#">Resource</a>
            <a class="link-secondary" href="#">Another resource</a>
            <a class="link-secondary" href="#">Final resource</a>
        </div>
        <div>
            <a class="d-block mb-3 text-muted">&copy; 2017–2022</a>
        </div>
  </footer>
</body>
</html>