<!DOCTYPE html>
<html  lang="es"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/head_fragment::encabezado(~{::title})">
  <title>Vinoteca</title>
</head>
<body>
<header class="site-header sticky-top" th:fragment="barra-nav">

  <nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="mynavbar">

        <ul class="navbar-nav me-auto">

          <li class="nav-item">
            <a class="nav-link" th:href="@{/}">
              <i class="fa fa-home"></i>
              <span th:text="#{navbar.inicio}">Inicio</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" th:href="@{/vino/lista}" th:text="#{navbar.vinos}">Vinos</a>
          </li>

        </ul>

        <div class="menuUser d-flex">
          <ul class="navbar-nav me-auto">

            <li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/login}">Iniciar sesión</a></li>
            <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                 href="#"  role="button" >
                <span th:text="${#authentication.name}">Menú</span> <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <span class="dropdown-item" th:text="${numLogin} + ': ' + ${session.numVisitas}"></span>
                </li>
                <li>
                  <span class="dropdown-item" th:text="${textNumIndex} + ': ' + ${session.numVisitasIndex}"></span>
                </li>

                <li>
                  <hr class="dropdown-divider">
                </li>
                <li class="nav-item"><a class="nav-link text-black" th:href="@{''(lang=es_ES)}">Español</a></li>
                <li class="nav-item"><a class="nav-link text-black" th:href="@{''(lang=en_US)}">English</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">
                  <i class="fas fa-sign-out-alt"></i> Salir</a>
                </li>
              </ul>
            </li>
          </ul>
          <form th:action="@{/logout}" method="post" id="logoutForm"></form>
        </div>

      </div>
    </div>
  </nav>

</header>
</body>
</html>