<!DOCTYPE html>
<html  lang="es"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="site-header sticky-top" th:fragment="barra-nav">

  <nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="mynavbar">

        <ul class="navbar-nav me-auto">

          <li class="nav-item">
            <a class="nav-link" th:href="@{/}">
              <i class="fa fa-home"></i>
              <span th:text="#{navbar.inicio}">Inicio</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" th:href="@{/vino/lista}" th:text="#{navbar.vinos}">Vinos</a>
          </li>

        </ul>

        <div class="d-flex">
          <ul class="navbar-nav me-auto">
            <li class="nav-item"><a class="nav-link" th:href="@{''(lang=es_ES)}">Español</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{''(lang=en_US)}">English</a></li>
          </ul>
        </div>

      </div>
    </div>
  </nav>

</header>
</body>
</html>