<!DOCTYPE html>
<html  lang="es"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/head_fragment::encabezado(~{::title})">
  <title>Vinoteca</title>
</head>

<body>
  <header th:replace="/fragments/navbar_fragment::barra-nav"></header>
  <main class="container py-5">
    <div class="row g-5">
      <div class="col-md-7 col-lg-8">

        <form method="post" action="#" enctype="multipart/form-data"
              th:object="${vinoFormulario}"
              th:action="@{/vino/editar/submit}">
<!--              th:action="${vinoFormulario.id != 0} ? @{/vino/editar/submit} : @{/vino/nuevo/submit}">-->

          <h4 class="mb-3" th:text="${vinoFormulario.origen != ''} ? 'Editar vino' : 'Nuevo vino'">Nuevo vino</h4>

          <div class="mb-3">
            <label for="id" class="form-label">ID</label>
            <input type="text" class="form-control" id="id"
                   th:field="*{id}"
                   th:attrappend="readonly=${vinoFormulario.id != 0} ? 'readonly' : null">
            <span class="help-block" id="id-error"
                  th:if="${#fields.hasErrors('id')}"
                  th:errors="*{id}">Errores</span>
          </div>

          <div class="mb-3">
            <label for="tipo" class="form-label" th:text="#{form.tipo}">tipo</label>
            <select class="form-control" id="tipo" name="tipo" th:field="*{tipo}">
              <option value=""></option>
              <option th:each="tipoVino : ${T(es.carlosgh.vinoteca.entity.TipoVino).values()}"
                      th:value="${tipoVino}"
                      th:text="${tipoVino}"></option>
            </select>
          </div>

          <div class="mb-3">
            <label for="origen" class="form-label" th:text="#{form.origen}">Origen</label>
            <input type="text" class="form-control" id="origen"
                   th:field="*{origen}">
          </div>
          <div class="mb-3">
            <label for="graduacion" class="form-label" th:text="#{form.graduacion}">Graduacion</label>
            <input type="text" class="form-control" id="graduacion"
                   th:field="*{graduacion}">
          </div>

          <div class="mb-3">
            <label for="year" class="form-label" th:text="#{form.year}">Año</label>
            <input type="text" class="form-control" id="year"
                   th:field="*{year}">
          </div>

          <div class="mb-3">
            <label for="descripcion" class="form-label" th:text="#{form.desc}">Descripción</label>
            <input type="text" class="form-control" id="descripcion"
                   th:field="*{descripcion}">
          </div>

          <div class="mb-3">
            <label for="file" class="form-label" th:text="#{form.imagen}">Imagen</label>
                <img th:src="*{imagen}" src="" alt="">
                <input type="hidden" th:field="*{imagen}">
                <input type="file" id="file" name="file" class="form-control">
          </div>

          <button type="submit" class="btn btn-primary" th:text="#{form.enviar}">Enviar</button>
        </form>

      </div>
    </div>
  </main>
</body>
</html>