<!DOCTYPE html>
<html  lang="es"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/head_fragment::encabezado(~{::title})">
    <title>Vinoteca</title>
</head>

<body>
    <header th:replace="/fragments/navbar_fragment::barra-nav"></header>

    <main id="mainIndex">
        <section id="seccionVino">
            <div class="card" th:each="vino : ${listaVino}">
                <img src="" alt="imgVino" th:src="@{${vino.imagen}}">
                <div class="cardDesc">
                    <h4 th:text="${vino.tipo + ' - ' + vino.year + ' ' + vino.graduacion + 'º'}"><b>John Doe</b></h4>
                    <p th:text="${vino.descripcion}">descVino</p>
                    <p th:text="${vino.precio + ' €'}">precioVino</p>
                </div>
            </div>
        </section>
    </main>

    <footer th:replace="/fragments/footer_fragment::pie"></footer>
    <div th:replace="/fragments/js_fragment::jsfinal(~{})"></div>
</body>
</html>