<!DOCTYPE html>
<html  lang="es"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/head_fragment::encabezado(~{::title})">
    <title>Vinoteca</title>
</head>

<body>
    <header th:replace="/fragments/navbar_fragment::barra-nav"></header>
    <main>

        <div class="card-group">
            <div class="card" th:each="vino : ${listaVino}">
                <img class="card-img-top" th:src="@{${'/img/' + vino.imagen + '.jpg'}}" src="..." alt="...">
                <div class="card-body">
                    <h5 class="card-title" th:text="${vino.origen}" ></h5>
                    <p class="card-text" th:text="${vino.descripcion}"></p>
                </div>
            </div>
        </div>

    </main>
</body>
</html>